@import "bourbon/bourbon";
@import "boilerplate.scss";

/* ==========================================================================
   Author - Jonathan Torres
   ========================================================================== */

/**
 * Font sizes
 */
$size10px: 0.5em;
$size11px: 0.6em;
$size12px: 0.7em;
$size14px: 0.8em;
$size16px: 1em;
$size18px: 1.2em;
$size20px: 1.4em;
$size22px: 1.6em;
$size24px: 1.8em;
$size26px: 2em;
$size28px: 2.2em;
$size30px: 2.4em;
$size32px: 2.6em;
$size34px: 2.8em;
$size36px: 3em;
$size38px: 3.2em;
$size40px: 3.4em;
$size42px: 3.6em;
$size44px: 3.8em;
$size46px: 4em;

$johnRed: #e3030c;
$lightGray: #dbdbdb;
$quicksandFont: "Quicksand", Arial, san-serif;
$helveticaFont: Helvetica, Arial, san-serif;

/**
 * Global Styles
 */
body { font-family: $quicksandFont; background: url(../img/page_bg.jpg) repeat; }
h1, h2, h3, h4, h5, p, ul, ol { margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5 { font-weight: normal; color: $lightGray; }
h1 { font-size: $size40px; }
h2 { font-size: $size34px; }
h3 { font-size: $size28px; }
h4 { font-size: $size24px; }
h5 { font-size: $size18px; }

/**
 * Useful classes
 */
.johnred { color: $johnRed; }
.title { font-size: $size36px; }
.johnsquared { 
	color: #000; 
	text-decoration: none; 
	background-color: $johnRed; 
	@include transition (color 0.5s ease-out);
}
.johnsquared:hover { color: #FFF; @include transition (color 0.5s ease-out); }

@mixin circle($width, $height, $bgcolor) {
	width: $width;
	height: $height;
	border-radius: 50%;
	background-color: $bgcolor;
}

/**
 * Coming Soon!
 */
#soon {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: auto;

	.myinfo {
		position: absolute;
		top: 45%;
		left: 50%;
		width: 900px;
		height: 200px;
		margin-top: -100px;
		margin-left: -450px;

		.circle {
			display: block;
			float: left;
			opacity: 0;
			margin: 0px 30px 0px 0px;
			@include circle(200px, 200px, #161616);
			@include box-shadow(0px 0px 400px 40px rgba(150, 150, 150, 0.08));

			.inside {
				@include circle(167px, 167px, #303030);
				overflow: hidden;
				border: solid 4px #303030;
				margin: 13px 0px 0px 12px;

				img { display: block; margin: 0px 0px 0px -42px; }
			}
		}
	}

	.reachme {
		position: absolute;
		bottom: 60px;
		left: 50%;
		width: 660px;
		height: 60px;
		margin-left: -330px;

		.find_me {
			position: relative;
			margin: 10px 0px 0px 60px;

			.reach_icons {
				display: block;
				list-style: none;
				position: absolute;
				top: 0px;
				left: 339px;
				width: 200px;

				li {
					a:link, a:active, a:visited {
						display: block;
						float: left;
						width: 39px;
						height: 38px;
						margin-left: 10px;
						@include transition (background 0.5s ease-in-out);

						&.fb { background: transparent url(../img/soon_fb_icon.png) no-repeat; }
						&.twitter { background: transparent url(../img/soon_twitter_icon.png) no-repeat; }
						&.in { background: transparent url(../img/soon_in_icon.png) no-repeat; }
						&.github { background: transparent url(../img/soon_git_icon.png) no-repeat; }

						&.fb:hover { background: transparent url(../img/soon_fb_icon_hover.png) no-repeat; }
						&.twitter:hover { background: transparent url(../img/soon_twitter_icon_hover.png) no-repeat; }
						&.in:hover { background: transparent url(../img/soon_in_icon_hover.png) no-repeat; }
						&.github:hover { background: transparent url(../img/soon_git_icon_hover.png) no-repeat; }

						&:hover { @include transition (background 0.5s ease-in-out); }
					}
				}
			}
		}
	}
}

@import "helpers.scss";
